
<div class="panel panel-success">
	<div class="panel-heading">
		蔵書印登録マニュアル
	</div>
	<div class="panel-body">
	  <p>入力は繁体字に統一します。</p>
	  <p>検索は，史料編纂所の異体字リストには対応しています。ただし，リストの更新に対応できていないので，お気づきの点はお問い合わせフォームでお知らせください。</p>
	  <p>資料登録時，資料の所蔵は必須項目です。既に資料情報が登録されていても，所蔵欄は空欄のことがあるので，確認して入力してください。</p>
      <p>蔵書印と印主の間のリンク，および，蔵書印と資料の間のリンクは，エディター登録をしていない方でも形成したり，解除したりすることができるようになっています。</p>
      <p>リンクが誤っていると重大な事実誤認につながるので，新規リンク形成や既存のリンクのつけかえは慎重に行ってください。</p>
      
	</div>
</div>
<div class="panel panel-warning">
	<div class="panel-heading">
		エディターズマニュアル
	</div>
	<div class="panel-body">
	  <p>エディター登録をすると，全ての蔵書印データ/印主データ/資料データの更新・削除ができるようになります。</p>
      <p>一度データを更新または削除すると，管理人であってもデータを元に戻すことはできません。データの更新/削除には細心の注意を払ってください。</p>
	</div>
</div>
<%= @logo %>