<div class="row">
  <div class="col-md-8">
       <% @items.each do |item| %>
    <table>
      <tr>
       <td><%= link_to item.title, item %></td>
       <td><%= item.holding %></td>
      </tr>
    </table>
      <% end %>
  </div>
</div>