<h1>NoticeMailer#hello</h1>

<p>
    <div>Name: <%= @message.name %></div>
    <div>eMail: <%= @message.email %></div>
    <div>Purpose: <%= @message.purpose %></div>
    <div>Content: <%= @message.content %></div>
</p>
